<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBK7_rfwlDksQS5zkEXXQjfhd2vj76VIIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>539315386133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fieldOps</string>
	<key>PROJECT_ID</key>
	<string>field-ops-2c218</string>
	<key>STORAGE_BUCKET</key>
	<string>field-ops-2c218.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539315386133:ios:128b031b561ad291125b1c</string>
</dict>
</plist>